web/sf*
web/uploads/
cache/
log/
config/databases.yml
mkmf.log
backups/
data/*.index
data/sql/
plugins/.*
lib/filter/doctrine/base/Base*
lib/filter/doctrine/*Plugin/base/Base*
lib/form/doctrine/base/Base*
lib/form/doctrine/*Plugin/base/Base*
lib/model/doctrine/base/Base*
lib/model/doctrine/*Plugin/base/Base*
lib/model/om/
lib/model/map/
data/
web/*Plugin/
/config/app.yml
data/documents/*
plugins/sfTCPDFPlugin/lib/tcpdf/cache/
.vagrant
