generator:
  class: sfDoctrineGenerator
  param:
    model_class:           CharteLocaux
    theme:                 admin
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          charte_locaux
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields: ~
      list:
        title: "Chartes d'accès étendu au locaux"
        display: [id, date, Responsable, asso, semestre, acces_locaux, statut_string, motif, created_at]
        actions: {}
        batch_actions: {}
        object_actions: {valider: ~, refuser:~, _delete:~}
        sort: [created_at, desc]
      filter:
        display: [login, user_id, asso_id, semestre_id, porte_mde, bat_a, locaux_pic, mde_complete, bureau_polar, perm_polar, salles_musique, statut]
      form:    ~
      edit:    ~
      new:     ~
