.part .event {
    width: 160px;
    margin: 10px;
    float: right;
    padding: 10px;
}
.part .event img {
    width: 160px;
    height: 100px;
}
.part .event h2 {
    text-transform: uppercase;
    color: white;
    font-family: impact;
    font-size: 15px;
    font-weight: normal;
}
.part {
    margin-bottom: 40px;
}
.part h1 {
    margin: 0 auto;
    display: block;
    background: #505050;
    height: 24px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: impact;
    font-size: 15px;
    font-weight: normal;
    color: white;
    padding-left: 10px;
    padding-top: 1px;
    text-transform: uppercase;
}

.part .article h2 {
    margin: 5px auto;
    display: block;
    height: 24px;
    width: 100%;
    font-family: impact;
    font-size: 15px;
    font-weight: normal;
    color: white;
    padding: 1px 10px;
    text-transform: uppercase;
}

.poleae {
    background: red;
}

.polevdc {
    background: cyan;
}

.polete {
    background: green;
}

.polesc {
    background: orange;
}

.part .more {
    height: 16px;
    text-align: right;
    float: right;
    background: #BEBCBC;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 15px;
    display: block;
    color: #2A2A2A;
}

.part .more:hover{
    background: #CECCCC;
}