.part a.link { display: block; background: url('/images/button/more.png') no-repeat; 
                            width: 113px; height: 22px; margin-top: 5px; margin-left: 50px; padding-top: 10px;
                            text-align: center; font-size: 10px; text-transform: uppercase; }
.part a.alink { display: block; background: url('/images/button/more.png') no-repeat; 
                            width: 113px; height: 22px; margin-top: 5px; margin-left: 500px; padding-top: 10px;
                            text-align: center; font-size: 10px; text-transform: uppercase; }
.part .event {
    width: 160px;
    margin: 10px;
    float: right;
    padding: 10px;
}
.part .event h2 {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}
.part {
    margin-bottom: 40px;
}
.part h1 {
    margin: 0 auto;
    display: block;
    background: #505050;
    font-weight: normal;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: impact;
    font-size: 15px;
    color: white;
    padding: 5px;
    text-transform: uppercase;
}

.part h1 .titleaction {
	float: right;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-transform: none;
}
.part h1 .titleaction a {
	color: white;
}

.part .article h2 {
    margin: 5px auto;
    display: block;
    width: auto;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px;
    text-transform: uppercase;
}

.part .article h2 span.sub {
  float: right;
  font-size: 10px;
}

.part .article h2 a, .part .article h2 a:hover, .part .article h2 a:visited, .part .article h2 a:active {
  color: white;
}

.poleae {
    background: red;
}

.polevdc {
    background: cyan;
}

.polete {
    background: green;
}

.polesc {
    background: orange;
}

.part .more {
    height: 16px;
    text-align: right;
    float: right;
    background: #BEBCBC;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 15px;
    display: block;
    color: #2A2A2A;
}

.part .more:hover{
    background: #CECCCC;
}
#assos_list {
  list-style:none;
  line-height:200%;
  margin:20px auto;
  position:relative;
  padding: 0;
}

#assos_list li{
  padding : 10px;
  width:600px;
  min-height : 150px;
  border: 1px solid #efefef;
  margin: 0 30px 30px 0;
  background: #fff;
}

#assos_list h3 a{
  font-size:1.3em;
}
#assos_list .desc{
  margin-left : 100px;
}
#assos_list img.logo{
  float:left;
  height:85px;
  width:85px;
  margin-right: 10px;
  border:2px outset #000;
  background-color : #FFF;
}
#assos_list .website{
  font-weight:bold;
}
#topbar .website:before , #assos_list .website:before {
  content: url('/images/icons/home.png');
  margin-right: 5px;
  vertical-align: middle;
}
#assos_list .website:hover{
  text-decoration:none;
  color:#fff;
  background-color:#75c34b;
}
#topbar .email:before , #assos_list .email:before {
  content: url('/images/icons/mail.png');
  margin-right: 5px;
  vertical-align: middle;
}

#asso{
  padding : 10px;
  width:598px;
  min-height : 500px;
  border: 1px solid #efefef;
  margin: 0 30px 0 0;
  background: #fff;
}

#asso#article-list{
  list-style:none;
}

#asso img.logo{
  margin : 20px;
}

#asso ul#onglets{
  height: 32px;
}

#asso .desc{
  margin : 5px;
}

#topbar{
  width: 598px;
  padding: 10px;
}

#topbar .logo_asso{
  text-align: center;
  margin: 10px;
}

#topbar .desc {
  margin: 10px auto;
}

#poles_list{
  margin: auto;
}

#poles_list ul{
  list-style:none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

#poles_list ul li{
  text-align: center;
  width : 100px;
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding : 5px;
}

#poles_list ul li:hover{
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}

#poles_list ul li img{
  max-width : 80px;
  max-height : 80px;
}

#bureau img, #trombi img { height: 120px; }