.infojob-form tbody input, .infojob-form tbody textarea, .infojob-form tbody .uneditable-input {
	width: 350px;
}

.infojob-form label {
  width: 150px;
  margin-right: 20px;
  text-align: left;
}

.infojob-form select {
	width: 350px;
}

#infojob-collapse-link {
  cursor: pointer;
}
