body {
  background: url(/images/background.jpg) #fdfdfd no-repeat top center;
  margin: 0px;
  font-family: Arial, sans-serif;
  font-size:10pt;
  color: #2a2a2a;
}
.clear{ clear:both; }
a:link, a:visited{ color:#888888; text-decoration:none; }
a:hover{ color:#888888; text-decoration:underline; }
h1{ font-size:24px; color:#000000; line-height: 18px; }
h2{ font-size:18px; color:#666666; }
h3{ font-size:11pt; margin:2px 0px; }
fieldset { border:0; }
img { border:0; }
p { text-align : justify; }

.wrap{
  margin: 0 auto;
  max-width: 1024px;
}
.radius5{
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.radius10{
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.ui-autocomplete-loading { 
  background: white url(/images/jquery-ui/ui-anim_basic_16x16.gif) right center no-repeat; 
}

/* ------------------------------- */
/*         TOP                     */
/* ------------------------------- */

#top_bar {
  height: 35px;
  background: #242424;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242424", endColorstr="#414141"); /* Pour IE seulement et mode gradient à linear */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#414141));
  background-image: -moz-linear-gradient(top center, #242424, #414141);
  background-image: -o-linear-gradient(top, #242424, #414141); /*uniquement en mode linear*/
  color: #FFF;
  font-family: 'Arial Black', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 190px;
  vertical-align: top;
}
#top_bar .nav a.dropdown-toggle { color: #FFF; }
#top_bar .nav .open a.dropdown-toggle { color: #FFF; background: none; }
#top_bar .dropdown-menu a { color: #424242; }
#top_bar .wrap {
  text-align: right;
}

#top_bar .wrap #logo {
  float: left;
}

#top_bar form {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0px;
  margin-top: 3px;
}

#top_bar form label {
  color: #FFF;
}

#top_bar ul.nav {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

#top_bar .wrap .barre{
  border-left: 1px #FFF solid;
  margin: 7px 0px 0px 8px;
  height: 20px;
  width: 1px;
  display: inline-block;
  vertical-align: top;
}

#top_bar .wrap .facebook, #top_bar .wrap  .twitter {
  background: url('/images/icons/social.png') no-repeat 0px 0px;
  display: inline-block;
  margin: 0 2px;
  width: 33px;
  height: 32px;
  vertical-align: 20%;
  text-indent: 10000px;
  overflow: hidden;
}

#top_bar .wrap .twitter {
  background-position: -33px 0px;
}

/* ------------------------------- */
/*         MENU                    */
/* ------------------------------- */

#menu {
  margin: 0 auto;
  background: url('/images/bg_menu.png') no-repeat;
  height: 58px;
  width: 1071px;
  font-family: 'Arial Black', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  padding-top: 15px;
}
#menu a { color: #FFF; }
#menu .barre {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px #FFF solid;
}
#menu .horloge { float: right; }

/* ------------------------------- */
/*         CALENDRIER              */
/* ------------------------------- */

#calendrier {
  background: #FFF;
  margin: 0 auto;
  width: 1010px;
  height: 190px;
  padding: 5px;
  margin-top: -27px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#calendrier h1 {
  margin: 0 auto;
  display: block;
  background: #535353;
  height: 24px;
  width: 990px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Arial Black', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #FFF;
  padding-left: 10px;
  padding-top: 5px;
  text-transform: uppercase;
}

#calendrier .wrap { margin-top: 10px; width: 990px; }

#calendrier .event {
  display: inline-block;
  width: 330px;
  height: 145px;
  vertical-align: top;
  color: #343434;
  border-right: #000 1px solid;
  text-align: left;
}

#calendrier .event img { float: left; margin-right: 10px; margin-left: 30px; background: #000; height:112px; width: 112px; }
#calendrier .event h2 { font-size: 13px; font-weight: bold; margin: 0; color: #343434; text-transform: uppercase; }
#calendrier .event h3 { font-size: 12px; font-weight: bold; color: #ee4401; margin: 0; margin-top: 20px; text-transform: uppercase; text-align: left; }
#calendrier .event .infos { font-size: 12px; color: #353535; font-weight: bold;}
#calendrier .event a.more { display: block; background: url('/images/button/more.png') no-repeat; 
                            width: 113px; height: 22px; margin-top: 5px; margin-left: 190px; padding-top: 10px;
                            text-align: center; font-size: 10px; text-transform: uppercase; }

/* ------------------------------- */
/*         FIL D'ARIANE            */
/* ------------------------------- */

#ariane { background: #ececec; color: #2a2a2a; font-size: 9px; margin: 20px auto; height: 15px; padding-top: 5px; text-indent: 5px; }

/* ------------------------------- */
/*        CONTENT                  */
/* ------------------------------- */

#content{
  width: 620px;
  margin: auto;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#column-left{
  float: left;
  width: 175px;
  margin: auto;
}

#column-right{
  float: right;
  width: 175px;
  margin: auto;
}

#footer{
  margin-top: 80px;
  clear:both;
  height: 270px;
  width: 100%;
  background: url('/images/bg_footer.png') repeat-x;
  padding-top: 45px;
  text-transform: uppercase;
}

#footer #splash {
  width: 366px;
  height: 368px;
  background: url('/images/splash_footer.png') no-repeat;
  position: absolute;
  margin-top: -110px;
}

#footer #footer-left {
  width: 155px;
  border-right: 1px solid #FFF;
  display: inline-block;
  margin-left: 425px;
}

#footer #footer-right {
  margin-left: 45px;
  display: inline-block;
}

#footer h2 {
  font-size: 12px;
  font-family: 'Arial Black', sans-serif;
  color: #FFF;
  margin-bottom: 0px;
}

#footer a {
  font-size: 10px;
  color: #FFF;
}

#column-left h1, #column-right h1 {
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Arial Black', sans-serif;
  font-size: 12px;
  background: url('/images/bg_col_title.png') no-repeat;
  width: 175px;
  height: 45px;
  font-weight: normal;
  text-indent: 10px;
  padding-top: 8px;
}

#column-left #my_assos .my_asso {
  padding: 5px;
  background: #FFF;
}

#column-left #my_assos .my_asso img {
  float: left;
  margin-bottom: 5px;
}

#column-left #my_assos .my_asso h2 {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 0 38px;
  color: #2a2a2a;
  line-height: 1em;
  margin-top: 8px;
  
}
#column-left #my_assos .my_asso .barre {
  margin: 2px auto;
  border-top: 1px solid #000;
  clear: both;
}

#column-left #my_flux .all_abonnements .barre, #column-left #my_flux .events_abonnements .barre, #column-left #my_flux .articles_abonnements .barre {
  margin: 2px auto;
  border-top: 1px solid #000;
  clear: both;
}

#all_but {
  border-bottom: 3px solid black;
}

#column-right #contact {
  background: #353535;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

#column-right #contact a {
  color: #fff;
}

#column-right #contact p { 
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid #FFF;
  margin: 0 auto;
}

#column-right #contact p:last-child {
  border: 0;
}

#column-right #contact h1 {
  font-family: 'Arial Black', sans-serif;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  font-weight: normal;
}

#column-right #contact .nousecrire {
  display: block;
  margin-top: 10px;
  color: #FFF;
}

#column-right #random_asso {
  padding: 5px;
  background: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#column-right #random_asso img {
  float: left;
  margin-bottom: 5px;
}

#column-right #random_asso h2 {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 0 70px;
  color: #2a2a2a;
}
#column-right #random_asso p {
  clear: both;
  margin: 5px auto;
}
#column-right #random_asso .barre {
  margin: 5px auto;
  border-top: 1px solid #000;
}
#column-right #random_asso .more {
  width: 155px;
  height: 16px;
  text-align: right;
  background: #bebcbc;
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 4px;
  padding-right: 10px;
  display: block;
  color: #2a2a2a;
}

/*-------------------------------------------*/
/*--------------EVENEMENTS-------------------*/
/*-------------------------------------------*/

.event #box{
  /*	border : 1px outset ;*/
  width : 90%;
  margin : auto;
  margin-bottom : 30px;

}

#event h2{
  /*	background : none;*/
  margin : 0px;
  /*	margin-bottom : 0px;*/
  /*	margin-left : 0px;*/
  /*	margin-right : 0px;*/
}

.date{
  border-bottom:solid 1px;
  font-weight : bold;
  font-size : 14px;
  margin-bottom : 5px;
  margin-top : 10px;
  padding-top : 5px;
  color : #7C0000;
}

.lieu{
  margin : 5px;
}

.description{
  margin : 5px;
}

#plus{
  text-align : right;
  font-weight : bold;
  margin-right : 30px;
  font-size : 16px;
}

#column-left #left_login {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
#column-left #form-login input {
  margin-left: 5px;
  margin-bottom: 10px;
}
#column-left #signin_username, #column-left #signin_password {
  width: 137px;
}

#bigmenu {
  background: black;
  color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242424", endColorstr="#414141"); /* Pour IE seulement et mode gradient à linear */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#414141));
  background-image: -moz-linear-gradient(top center, #242424, #414141);
  background-image: -o-linear-gradient(top, #242424, #414141); /*uniquement en mode linear*/
  color: #FFF;
  font-family: 'Arial Black', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: -31px 0px 31px 0px;
  width: 1020px;
  display: none;
  z-index: 11000;
  overflow: hidden;
}

#bigmenu a {
  color: white;
}

#bigmenu ul {
  list-style-type: none;
  padding: 0;
}

#bigmenu ul li a {
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

#bigmenu .bm_pole {
  width: 180px;
  float: left;
  border-left: 1px solid white;
  padding: 5px 10px;
  margin-bottom: -2000px;
  padding-bottom: 2000px;
}
#bigmenu .bm_pole:first-child {
  border: none;
}

#asso-menu {
  background: #009cdd;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009cdd", endColorstr="#30596a");
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009cdd), to(#30596a));
  background-image: -moz-linear-gradient(top center, #009cdd, #30596a);
  background-image: -o-linear-gradient(top, #009cdd, #30596a); */
  height: 30px;
  margin-top: -31px;
}

#asso-menu a {
  display: inline-block;
  text-transform: uppercase;
  padding: 7px 10px 0 10px;
  margin-left: -2px;
  border-right: 1px solid white;
  color: white;
  font-weight: bold;
  height: 23px;
  white-space: nowrap;
}
#asso-menu a:last-child, #asso-menu a:first-child {
  border: none;
}

.arrow-e {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 14px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  color: white;
  border-left-width: .53em;
  border-left-style: solid;
  border-left-color: white;
  left: 0.25em;
  margin-top: -5px;
}


/*.lieu:before{*/
/*	content : "Lieu : ";*/
/*	}*/
/*	*/
/*.description:before{*/
/*	content : "Description : ";*/
/*	}*/

.editform label:first-child {
	text-align: right;
	margin-right: 6px;
	padding: 4px;
}
.editform th {
	vertical-align: top;
}
.editform input, .editform textarea {
	width: 380px;
}

.editform input.btn {
	width: auto;
}

.well select.nosize {
	width: auto;
}

a.btn-danger {
  color: white;
}

/*      PROFILE     */
#profile {
    line-height: 20px;  
}

#profile h1{
    margin: 0 auto;
}

#topbar a.btn {
  color: #000;
}

.part a.link { display: block; background: url('/images/button/more.png') no-repeat; 
                            width: 113px; height: 22px; margin-top: 5px; margin-left: 50px; padding-top: 10px;
                            text-align: center; font-size: 10px; text-transform: uppercase; }
.part a.alink { display: block; background: url('/images/button/more.png') no-repeat; 
                            width: 113px; height: 22px; margin-top: 5px; margin-left: 500px; padding-top: 10px;
                            text-align: center; font-size: 10px; text-transform: uppercase; }
.part .event {
    width: 160px;
    margin: 10px;
    float: right;
    padding: 10px;
    min-height: 250px;
}
.part .event h2 {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}
.part .event a {
  color: white;
}
.part {
    margin-bottom: 40px;
}
.part h1 {
    margin: 0 auto 10px auto;
    display: block;
    background: #505050;
    font-weight: normal;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: impact;
    font-size: 15px;
    color: white;
    padding: 5px;
    text-transform: uppercase;
}

#profile h2{
    margin: 0 auto 7px;
    display: block;
    font-weight: normal;
    width: auto;
    font-family: impact;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    border-bottom:thin solid #000;
}

#profile #trombi{
    height : 120px;
    margin-right:20px;
}

#profile .row{
    margin-bottom: 10px;
}

#profile #infoPerso .span2{
    width: 100px;
}

#infoPerso .label{
    display: inline;
}

#profile .radio_list{
    list-style: none;
}

#profile .radio_list label{
    width: 60px;
    display: inline;
}

#profile select{
    width: auto;
}

.modifier {
    cursor: url('/images/button/modifier.png'), auto;
}


.part h1 .titleaction {
	float: right;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-transform: none;
}
.part h1 .titleaction a {
	color: white;
}

.part .article h2 {
    margin: 5px auto;
    display: block;
    width: auto;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px;
    text-transform: uppercase;
}

.part .article h2 span.sub {
  float: right;
  font-size: 10px;
}

.part .article h2 a, .part .article h2 a:hover, .part .article h2 a:visited, .part .article h2 a:active {
  color: white;
}

.part img.affiche {
  float: right;
  margin: 15px 0px 15px 15px;
}

#aide h2{
    margin: 0 auto 7px;
    display: block;
    font-weight: normal;
    width: auto;
    font-family: impact;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    border-bottom:thin solid #000;
}

.poleae {
    background: red;
}

.polevdc {
    background: cyan;
}

.polete {
    background: green;
}

.polesc {
    background: orange;
}

.part .more {
    height: 16px;
    text-align: right;
    float: right;
    background: #BEBCBC;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 15px;
    display: block;
    color: #2A2A2A;
}

.part .more:hover{
    background: #CECCCC;
}
#assos_list {
  list-style:none;
  line-height:200%;
  margin:20px auto;
  position:relative;
  padding: 0;
}

#assos_list li{
  padding : 10px;
  width:600px;
  min-height : 120px;
  border: 1px solid #efefef;
  margin: 0 15px 15px 0;
  background: #fff;
}

#assos_list h3 a{
  font-size:1.3em;
}
#assos_list .desc{
  margin-left : 100px;
}
#assos_list img.logo{
  float:left;
  height:85px;
  width:85px;
  margin-right: 10px;
  background-color : #FFF;
  border: 0;
}
#assos_list .website{
  font-weight:bold;
}
#topbar .website:before , #assos_list .website:before {
  content: url('/images/icons/home.png');
  margin-right: 5px;
  vertical-align: middle;
}
#assos_list .website:hover{
  text-decoration:none;
  color:#fff;
  background-color:#75c34b;
}
#topbar .email:before , #assos_list .email:before {
  content: url('/images/icons/mail.png');
  margin-right: 5px;
  vertical-align: middle;
}

#asso{
  padding : 10px;
  width:598px;
  min-height : 500px;
  border: 1px solid #efefef;
  margin: 0 30px 0 0;
  background: #fff;
}

#asso#article-list{
  list-style:none;
}

#asso img.logo{
  margin : 20px;
}

#asso ul#onglets{
  height: 32px;
}

#asso .desc{
  margin : 5px;
}

#topbar{
  width: 598px;
  padding: 10px;
}

#topbar .logo_asso{
  text-align: center;
  margin: 10px;
}

#topbar .desc {
  margin: 10px auto;
}

#poles_list{
  margin: auto;
}

#poles_list ul{
  list-style:none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

#poles_list ul li{
  text-align: center;
  width : 100px;
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding : 5px;
}

#poles_list ul li:hover{
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}

#poles_list ul li img{
  max-width : 80px;
  max-height : 80px;
}

#bureau img, #trombi img { height: 120px; }

ul.membres li {
  float: left;
  width: 120px;
  height: 155px;
  bacground: #ccc;
  list-style-type: none;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

ul.membres li img {
  height: 120px;
}

.form-filters label { float: left; width: 130px; }
.form-filters input, .form-filters select {  }
