/*
 * Style graphique utilisé pour le portail du BDE de l'UTC
 * Créé par des étudiants de l'UTC
*/

/* ------------------------------- */
/*          HTML Elements          */
/* ------------------------------- */

* {
  font-family:arial, verdana, sans serif;
  font-size:10pt;
}

html {}
body {
  background-color: #FFF;
  margin: 0px;
}

div.clear{
	clear:both;
}

a:link, a:visited{
  color:#888888;
  text-decoration:none;
}

a:hover{
  color:#888888;
  text-decoration:underline;
}

h1{
  font-size:24px;
  color:#000000;
}

h2{
  font-size:18px;
  color:#666666;
}

h3{
  font-size:11pt;
  margin:2px 0px;
}

fieldset {
  border:0;
}

img {
  border:0;
}

p {
  text-align : justify;
}

.radius5{
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.radius10{
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.ui-autocomplete-loading { 
	background: white url('/images/jquery-ui/ui-anim_basic_16x16.gif') right center no-repeat; 
	}




/* ------------------------------- */
/*         PAGE Elements           */
/* ------------------------------- */

#top_bar {
  background-color: #000;
  color: #FFF;
}

#wrap{
  margin: auto;
  padding: 5px;
  width: 1200px;
  background-color: #999;
}

#header{
  height: 190px;
}

#header_login{
  width: 260px;
  /*height: 90px;*/
  float: right;
  background-color: #FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #B7B7B7;
  -moz-box-shadow: 2px 2px 5px #B7B7B7;
  box-shadow: 2px 2px 5px #B7B7B7;
  margin: auto;
  /*margin-right: 20px*/;
}

#header_login #signin_username, #header_login #signin_password { width: 110px; }


#header_logo{
  width: 250px;
  height: 150px;
  float: left;
  background-color: #FFF;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #B7B7B7;
  -moz-box-shadow: 2px 2px 5px #B7B7B7;
  box-shadow: 2px 2px 5px #B7B7B7;
  margin: auto;
  /*margin-left: 20px*/;
}

#header_titre{
  width: 400px;
  height: 90px;
  background-color: #FFF;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #B7B7B7;
  -moz-box-shadow: 2px 2px 5px #B7B7B7;
  box-shadow: 2px 2px 5px #B7B7B7;
  margin: auto;
}

#header_menu{
  text-align: center;
  padding: 0px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 300px;
}

.menu{
  display: inline;
  width: 100px;
  height: 50px;
  background-color: #FFF;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #B7B7B7;
  -moz-box-shadow: 2px 2px 5px #B7B7B7;
  box-shadow: 2px 2px 5px #B7B7B7;
  margin: auto;
}

.menu:hover {
  background-color: #444;
  border: 1px solid #555;
  -moz-box-shadow: 4px 4px 10px #333;
  box-shadow: 4px 4px 10px #333;
  margin: auto;
}

.menu a{
  color:#111;
  text-decoration: none;
}

.menu:hover a{
  color: #FFF;
}


#content{
  width: 700px;;
  background-color: #FFF;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  border: 1px solid #B7B7B7;
  -moz-box-shadow: 2px 2px 5px #B7B7B7;
  box-shadow: 2px 2px 5px #B7B7B7;
}

#column-left{
  float: left;
  width: 150px;
  background-color: #FFF;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  border: 1px solid #B7B7B7;
  -moz-box-shadow: 2px 2px 5px #B7B7B7;
  box-shadow: 2px 2px 5px #B7B7B7;
}

#column-right{
  float: right;
  width: 150px;;
  background-color: #FFF;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  border: 1px solid #B7B7B7;
  -moz-box-shadow: 2px 2px 5px #B7B7B7;
  box-shadow: 2px 2px 5px #B7B7B7;
}



#sidebar{
  float: right;
  border: 1px solid #efefef;
  background: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.1) inset;
	padding: 10px;
}


#navbar{
  padding-left: 4%;
}

#navbar ul li{
  list-style:none;
  float:left;
  margin-right : 5px;
}

#footer{
  clear:both;
  padding-top:30px;
  height: 210px;
  color: #FFF;
  margin-bottom : 0px;
  background-color: #000;
}
#footer a{
  color:#666666;
  text-decoration:underline;
}
#footer p{
  text-align:center;
}



/*-------------------------------------------*/
/*--------------EVENEMENTS-------------------*/
/*-------------------------------------------*/

.event #box{
  /*	border : 1px outset ;*/
  width : 90%;
  margin : auto;
  margin-bottom : 30px;

}

#event h2{
  /*	background : none;*/
  margin : 0px;
  /*	margin-bottom : 0px;*/
  /*	margin-left : 0px;*/
  /*	margin-right : 0px;*/
}

.date{
  border-bottom:solid 1px;
  font-weight : bold;
  font-size : 14px;
  margin-bottom : 5px;
  margin-top : 10px;
  padding-top : 5px;
  color : #7C0000;
}

.lieu{
  margin : 5px;
}

.description{
  margin : 5px;
}

#plus{
  text-align : right;
  font-weight : bold;
  margin-right : 30px;
  font-size : 16px;
}

/*.lieu:before{*/
/*	content : "Lieu : ";*/
/*	}*/
/*	*/
/*.description:before{*/
/*	content : "Description : ";*/
/*	}*/
