.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
 
    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
 
    /* Font settings */
    font-weight: bold;
    color: #505050;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #505050 transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 300px;
    overflow-y:scroll;
 
    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;
    z-index: 100;
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li {
    display: block;
    padding: 10px;
    color: #505050;
    border-bottom: 1px solid #e6e8ea;
    font-weight: bold;
}
 
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #505050;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
    font-weight: normal;
}
 
.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}
 
.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}
 
.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}
 
/* Hover state */
 
.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;   
}
 
.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;   
}

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

ul#menuBde {
	display: inline-block;
	width: inherit;
	padding: 0 0 20px 0;
	margin: 0;
	font-size: 18px;
}

#menuBde li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	float: left;
	margin:0;
	padding: 0 1px 0 0;
}

#menuBde li span {
	margin: 0;
	border-bottom: 3px solid #005580;
	padding: 0 5px 10px 5px;
}

#menuBde li a {
	margin: 0;
	border-bottom: 3px solid #AAA;
	padding: 0 5px 10px 5px;
}

#menuBde li a:hover {
	text-decoration: none;
	border-bottom: none;
}

/* -- CSS FORMULAIRE -- */

 #FormShape{
     margin: 0 auto;
     display:none;
     position: relative; 
     height: 90%; 
     width: 100%;
    overflow: hidden;
    z-index:10001;
    border-radius: 10px;
    background-color:#FFFF99;
 }
 
 
#sep{ 
 display:inline-block;
 float:left;
 width: 2px;
 height: 300px;


background: rgba(226,226,226,0);
background: -moz-linear-gradient(top, rgba(226,226,226,0) 0%, rgba(222,222,222,0) 1%, rgba(194,194,194,0.45) 8%, rgba(166,166,166,1) 15%, rgba(87,87,87,1) 35%, rgba(48,48,48,1) 52%, rgba(46,46,46,1) 53%, rgba(82,82,82,1) 70%, rgba(179,179,179,1) 87%, rgba(220,220,220,0.43) 94%, rgba(254,254,254,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,0)), color-stop(1%, rgba(222,222,222,0)), color-stop(8%, rgba(194,194,194,0.45)), color-stop(15%, rgba(166,166,166,1)), color-stop(35%, rgba(87,87,87,1)), color-stop(52%, rgba(48,48,48,1)), color-stop(53%, rgba(46,46,46,1)), color-stop(70%, rgba(82,82,82,1)), color-stop(87%, rgba(179,179,179,1)), color-stop(94%, rgba(220,220,220,0.43)), color-stop(100%, rgba(254,254,254,0)));
background: -webkit-linear-gradient(top, rgba(226,226,226,0) 0%, rgba(222,222,222,0) 1%, rgba(194,194,194,0.45) 8%, rgba(166,166,166,1) 15%, rgba(87,87,87,1) 35%, rgba(48,48,48,1) 52%, rgba(46,46,46,1) 53%, rgba(82,82,82,1) 70%, rgba(179,179,179,1) 87%, rgba(220,220,220,0.43) 94%, rgba(254,254,254,0) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,0) 0%, rgba(222,222,222,0) 1%, rgba(194,194,194,0.45) 8%, rgba(166,166,166,1) 15%, rgba(87,87,87,1) 35%, rgba(48,48,48,1) 52%, rgba(46,46,46,1) 53%, rgba(82,82,82,1) 70%, rgba(179,179,179,1) 87%, rgba(220,220,220,0.43) 94%, rgba(254,254,254,0) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,0) 0%, rgba(222,222,222,0) 1%, rgba(194,194,194,0.45) 8%, rgba(166,166,166,1) 15%, rgba(87,87,87,1) 35%, rgba(48,48,48,1) 52%, rgba(46,46,46,1) 53%, rgba(82,82,82,1) 70%, rgba(179,179,179,1) 87%, rgba(220,220,220,0.43) 94%, rgba(254,254,254,0) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,0) 0%, rgba(222,222,222,0) 1%, rgba(194,194,194,0.45) 8%, rgba(166,166,166,1) 15%, rgba(87,87,87,1) 35%, rgba(48,48,48,1) 52%, rgba(46,46,46,1) 53%, rgba(82,82,82,1) 70%, rgba(179,179,179,1) 87%, rgba(220,220,220,0.43) 94%, rgba(254,254,254,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

 



#formResa1{
  display:inline-block;
  float:left;
  width: 46%;
  padding-left: 3%;
  height: 100%;
}
 
#formResa2{
  display:inline-block;
  float:left;
  width: 47%;
  height: 100%;
  padding-left: 3%;
}

#test-form_date_day, #test-form_date_month,#test-form_heuredebut_hour,  #test-form_heuredebut_minute, #test-form_heurefin_hour,  #test-form_heurefin_minute{
  width:53px;    
  display: inline-block;
}

#test-form_date_year{
  width:72px;    
  display: inline-block;
}

#test-form_date{
  display: inline-block;
}
