body {
  padding-top: 60px;
}
.table-striped tbody tr.recette td, .table-striped tbody tr.recette th {
    background-color: lightgreen;
}
.table-striped tbody tr.depense td, .table-striped tbody tr.depense th {
    background-color: #ffc5b4
}

#transaction-form label {
    display: inline-block;
    min-width: 130px;
}