
#upload{
    margin:30px 200px;
    font-weight:bold; font-size:1.3em;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    background:#f2f2f2;
    color:#3366cc;
    border:1px solid #ccc;
    width:350px;
    cursor:pointer !important;
    -moz-border-radius:5px; -webkit-border-radius:5px;
    height: 40px;
}

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 100%;
    height: 100%;
    padding: 7px 0; text-align:center;
}
.qq-upload-button-hover {}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; }
.qq-upload-list li { margin:0 5px; padding:0; line-height:15px; font-size:12px;list-style:none;float: left;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../images/ajax-loader.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

#status.success, #status.loading{
    background: url('/gallerynePlugin/images/gallery_success.png') no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: -20px;
}
#status.loading{
    background: url('/gallerynePlugin/images/ajax-loader.gif') no-repeat;
}